<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="book.image" [alt]="book.name" width="100" height="200">
  <div class="card-body">
    <h5 class="card-title text-truncate" [title]="book.name | titlecase">
      {{ book.name | titlecase }}
    </h5>
    <p class="card-text text-truncate">
      by {{ book.author | titlecase}}
    </p>
    <h5 class="card-title">
      {{ book.price | currency }}
    </h5>
    <div>
      <a class="btn btn-primary" *ngIf="!isInCart()" (click)="addToCart()">Add To Cart</a>
      <a class="btn btn-primary" *ngIf="isInCart()" (click)="removeFromCart()">Remove From Cart</a>
    </div>
  </div>
</div>