<div class="container border p-4 rounded-2" style="max-width: 300px">
  <form (ngSubmit)="submit(myForm)" #myForm="ngForm">
    <legend class="text-center">Login</legend>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="form.email"
        name="email" #email="ngModel" required>
      <div id="email" class="form-text text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        Email field must be valid
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password Address" [(ngModel)]="form.password"
        name="password" #password="ngModel" required>
      <div id="password" class="form-text text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        Password field must be valid
      </div>
    </div>

    <div class="container px-0 mt-4">
      <div class="row gx-3">
        <div class="col">
          <div class="p-0">
            <button type="submit" class="btn btn-primary w-100"
              [class.disabled]="myForm.form.invalid || isLoading()">
              <ng-container *ngIf="isLoading()">
                Loading...
              </ng-container>
              <ng-container *ngIf="!isLoading()">
                Submit
              </ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div *ngIf="this.isLoadUsers">
  <!-- <div>{{ data | json }}</div> -->

  <table [cellPadding]="8">
    <tr>
      <td>Id</td>
      <td>Email</td>
      <td>Password</td>
      <td>Action</td>
    </tr>
    <tr *ngFor="let key of getKeys()">
      <td>{{ key }}</td>
      <td>{{ data[key]?.email }}</td>
      <td>{{ data[key]?.password }}</td>
      <td>
        <button style="margin: 0 6px;" type="button" (click)="deleteById(key)">Delete</button>
        |
        <button style="margin: 0 6px;" type="button" (click)="setEditForm(key, data[key])">Edit</button>
      </td>
    </tr>
    <tr *ngIf="isLoading()">
      <td [colSpan]="4" [align]="'center'">Loading...</td>
    </tr>
    <tr *ngIf="!isLoading() && !this.data">
      <td [colSpan]="4" [align]="'center'">Found not data</td>
    </tr>
  </table>
</div>