<div class="container border p-4 rounded-2" style="max-width: 300px">
  <form (ngSubmit)="submit(myForm)" #myForm="ngForm">
    <legend class="text-center">Register</legend>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="form.email"
        name="email" #email="ngModel" required>
      <div id="email" class="form-text text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        Email field must be valid
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password Address"
        [(ngModel)]="form.password" name="password" #password="ngModel" required>
      <div id="password" class="form-text text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        Password field must be valid
      </div>
    </div>

    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password Address"
        [(ngModel)]="form.confirm_password" name="confirm_password" #confirm_password="ngModel" required>
      <div id="confirm_password" class="form-text text-danger"
        *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)">
        Confirm Password field must be valid
      </div>
    </div>

    <div class="container px-0 mt-4">
      <div class="row gx-3">
        <div class="col">
          <div class="p-0">
            <button type="submit" class="btn btn-primary w-100"
              [class.disabled]="myForm.form.invalid || isLoading()">
              <ng-container *ngIf="isLoading()">
                Loading...
              </ng-container>
              <ng-container *ngIf="!isLoading()">
                Submit
              </ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
