<h1>Your Cart</h1>
<!-- <div *ngIf="getCart().length > 0">
    <div *ngFor="let book of getCart(); let i=index;">
        <p class="my-4 text-2xl">{{i+1}}. {{ book.name }}</p>
    </div>
</div> -->
<div class="cart-root">
  <table [cellPadding]="8" *ngIf="getCart().length > 0">
    <thead>
      <th>STT</th>
      <th [align]="'left'">Book name</th>
      <th [align]="'right'">Price</th>
    </thead>
    <tr *ngFor="let book of getCart(); let i=index;">
      <td [align]="'center'">{{i+1}}</td>
      <td>{{ book.name | titlecase }}</td>
      <td [align]="'right'">{{ book.price | currency }}</td>
    </tr>
    <tr [align]="'right'">
      <td [colSpan]="3">
        Total: <b>{{ getTotalPrice() | currency }}</b>
      </td>
    </tr>
  </table>
  <div *ngIf="getCart().length == 0">No books in your cart</div>
</div>
