table, th, td {
  width: 100%;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.disabled-table {
  opacity: 0.6;
  user-select: none;
}

.button-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.book-table-container {
  width: 100%;
  margin: 16px 0;
}
