<div *ngIf="getForm()" class="container" style="max-width: 575.98px">
  <form (ngSubmit)="submit(myForm)" #myForm="ngForm">
    <div class="d-flex">
      <legend>{{ editModel ? 'Edit' : 'Create' }} Book</legend>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Input..." [(ngModel)]="form.name" name="name"
        #name="ngModel" required>
      <div id="name" class="form-text text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
        Name field must be valid
      </div>
    </div>

    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Input..." [(ngModel)]="form.author" name="author"
        #author="ngModel" required>
      <div id="author" class="form-text text-danger" *ngIf="author.invalid && (author.dirty || author.touched)">
        Author field must be valid
      </div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" class="form-control" id="image" placeholder="Input..." [(ngModel)]="form.image" name="image"
        #image="ngModel" required>
      <div id="image" class="form-text text-danger" *ngIf="image.invalid && (image.dirty || image.touched)">
        Image field must be valid
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" placeholder="Input..." [(ngModel)]="form.price" name="price"
        #price="ngModel" required>
      <div id="price" class="form-text text-danger" *ngIf="price.invalid && (price.dirty || price.touched)">
        Price field must be valid
      </div>
    </div>

    <div class="container px-0 mt-4">
      <div class="row gx-3">
        <div class="col">
          <div class="p-0">
            <button type="submit" class="btn btn-primary w-100"
              [class.disabled]="myForm.form.invalid || isLoading()">
              <ng-container *ngIf="!editModel">
                Create
              </ng-container>
              <ng-container *ngIf="editModel">
                Save
              </ng-container>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="p-0">
            <button type="button" class="btn btn-secondary w-100" (click)="reset(myForm)">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div *ngIf="!getForm()" class="book-table-container">
  <div class="row">
    <div class="col">
      <span class="fs-3">Book list</span>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="setForm(true)">
        Create
      </button>
    </div>
  </div>
  <!-- <div>{{ getBooks() | json }}</div> -->
  <table class="table" [cellPadding]="8" [ngClass]="{'disabled-table': isLoading() }">
    <thead>
      <tr>
        <!-- <td>Id</td> -->
        <td>Name</td>
        <td>Author</td>
        <td>Image</td>
        <td class="text-end">Price</td>
        <td class="text-center">Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getBooks()">
        <!-- <td>{{ item?.id }}</td> -->
        <td>{{ item?.name | titlecase }}</td>
        <td>{{ item?.author | titlecase }}</td>
        <td>{{ item?.image }}</td>
        <td class="text-end">{{ item?.price | currency }}</td>
        <td class="text-center">
          <button class="btn btn-outline-danger btn-sm me-2" type="button" (click)="setDeleteItem(item?.id, item)"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>

          <button class="btn btn-outline-primary btn-sm me-2" type="button"
            (click)="setEditForm(item?.id)">Edit</button>
        </td>
      </tr>
      <tr *ngIf="isLoading()">
        <td [colSpan]="5" [align]="'center'">Loading...</td>
      </tr>
      <tr *ngIf="!isLoading() && getBooks()?.length === 0">
        <td [colSpan]="5" [align]="'center'">Found not data</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete {{ deleteItem?.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteById()">Yes</button>
      </div>
    </div>
  </div>
</div>